/* <><><><><><><><><><><><><><><><><><><><><> HOME DO DIÁRIO <><><><><><><><><><><><><><><><><><><><><><> */

.bodypadrao{
    background-color: #D9CED6;
}

.rodape{
    width: 100%;
}

/* -------------------------------------- CSS DA CALHA 1 e 2 ----------------------------------------------- */

.homefooter1{
    background-color: #D9CED6;
    }
    
    .row{
        background-color: #D9CED6;
    }
    
    .col{
        margin-top: 6cm;
        margin-bottom: 1cm; 
    }
    
    .p-1home{
        font-size: 25px;
        margin-top: 1cm;
        color:  rosybrown;
    
    }
    .p-2home{
        font-size: 25px;
        margin-top: 1cm;
        color: black;
    
    }
    
    /* -------------------------------------- FIM DO CSS DA CALHA 1 e 2 ----------------------------------------- */
    



    /* -------------------------------------------- CSS DO CARD 1 ---------------------------------------------- */

    .div4home{
        margin-top: 1cm;
        margin-bottom: 2cm;
        margin-left: 9cm;
        margin-right: 2cm;
    }

    .card4home{
        margin-left: 1cm;
        margin-right: 1cm;
    }
 
    .cardp1{
        font-size: 20px;
    }

    /* ----------------------------------------- FIM DO CSS DO CARD 1 ------------------------------------------- */




    /* -------------------------------------------- CSS DO CARD 2 ---------------------------------------------- */

    .div1home{
        margin-left: 2cm;
        margin-right: 2cm;
        margin-bottom: 2cm;
    }

    /* ----------------------------------------- FIM DO CSS DO CARD 2 ------------------------------------------- */




    /* ----------------------------------------- CSS DO SEPARADOR ------------------------------------------- */

    .p4home{
        font-size: 30px;
        color: transparent;
    }

    /* ----------------------------------------- FIM DO CSS DO SEPARADOR ------------------------------------------- */

   

/* <><><><><><><><><><><><><><><><><><><><><> FIM DA HOME DO DIÁRIO <><><><><><><><><><><><><><><><><><><><><><> */









/* <><><><><><><><><><><><><><><><><><><><><> CADASTrar DO DIARIO <><><><><><><><><><><><><><><><><><><><><><> */



    /* ----------------------------------------- CSS DA VALIDAÇÃO ------------------------------------------- */


    .divcadas1{
        margin-top: 2cm;
        margin-bottom: 6cm;
        margin-left: 6cm;
        margin-right: 6cm;
    }


    .divcadas3{
        margin-bottom: 1cm;
    }

    .cadasp1{
        color: blue;
        font-family: Arial black;
        font-size: 20px;

    }

    .cadasp2{
        color: red;
        font-family: Arial black;
        font-size: 20px;
    }
    
    .cadasp3{
        color: green;
        font-family: Arial black;
        font-size: 20px;
    }

    .divedit1{
        margin-bottom: 10cm;
    }

 /* ----------------------------------------- FIM DO CSS DA VALIDAÇÃO ------------------------------------------- */

/* <><><><><><><><><><><><><><><><><><><><><> FIM DO CADASTRAR DO DIARIO  <><><><><><><><><><><><><><><><><><><><><><> */








/* <><><><><><><><><><><><><><><><><><><><><> CONSULTAR DO DIÁRIO <><><><><><><><><><><><><><><><><><><><><><> */


.pesquisar {

    float: right;

    margin: 2%;

}

    /* ----------------------------------------- CSS DO EDITAR ------------------------------------------- */


 .divedit1{
    margin-top: 2cm;
    margin-bottom: 9cm;
    margin-right: 4cm;
    margin-left: 4cm;
 }

 .editp1{
    color: blue;
    font-family: Arial black;

 }

 .editp2{
    color: red;
    font-family: Arial black;

 }

 .editp3{
    color: green;
    font-family: Arial black;

 }

 .editp4{
    color: blue;
    font-family: Arial black;

 }

 .editp5{
    color: red;
    font-family: Arial black;

 }

 .editp6{
    color: green;
    font-family: Arial black;

 }

  /* ----------------------------------------- FIM DO CSS DO EDITAR ------------------------------------------- */


/* <><><><><><><><><><><><><><><><><><><><><> FIM DO CONSULTAR DO DIÁRIO <><><><><><><><><><><><><><><><><><><><><><> */
  

